$primary-blue: #0052a1ff;
$secondary-blue: #91c4f2ff;
$purple: #8ca0d7ff;
$warning-color: #ff5e5bff;
$ok-color: #adfc92ff;
$highlight-color: rgba(84, 173, 240, 0.7);
$background-gray: #ededed;
$gray: rgb(154, 150, 150);
$ready-green-color: #97ec9d;

$generic-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

// For input component default
$input-width: 270px;
$input-height: 60px;

// Buttons
$btn-primary-color: #3a8af4;
$btn-secondary-color: #ffd713;
