@use "@styles/variables" as *;
@use "./fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}
